@use '../additional_styles/color' as *;
@use '../additional_styles/object' as *;

.heading{
    font-weight: bold;
    text-transform: uppercase;    
}
.main_txt{
    @extend .heading;
    font-size: 32px;
    margin-bottom: 30px;
}
.content{
    .main_info{
        width: 100%;
        height: auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, minmax(320px, 1920px));
        justify-content: center;
    
        .bl_image img{
            width: 100%;
            height: 100%;
        }
    
        .bl_text{
            width: 30%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // background:rgb(10, 0, 155, 0.5);
            color: $c_white;

            .wrap{
                width: 100%;
                height: 100%;
                background: url('../images/vector_fon_1.svg') no-repeat center;
                background-size: contain;
                @include Flex(column, space-between, center);
                // font-size: 2vw;
            }

            .head_home{   
                transform: translate(0%, 80%);
                text-align: center;
            }
            .txt_number{
                // width: 410px;
                // height: 230px;
                font-size: 36px;
                font-weight: bold;               
                @include Flex(row, center, center);

                #phone_call{
                    margin-right: 10px;
                    background: url('../images/icons/call_icon.svg') no-repeat center;
                }
            }
            
        }
    
        
    }

    .benefits{
        display: grid;
        grid-template-columns: repeat(1, minmax(320px, 1360px));
        justify-content: center;
        margin-top: 60px;
        
        .wrap_benefits{ margin: 0 20px;
            .benefits_items{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 200px)); //1150px
                gap: 1fr;
                justify-content: space-between;
                align-items: center;
                border: 1px solid red;
                
                .item{
                    width: 200px;
                    height: 300px;
                    background-size: contain;
                    color: $c_white;
                    @extend .heading;
                    font-size: 18px;
                    text-align: right;

                    img{
                        width: 200px;
                        height: 200px;
                        object-fit: contain;
                    }
                    p{ padding: 40px 15px 0 0; }
                    .image_folder{ transform: translate(-11%, 10%); }
                    .image_room{ transform: translate(-30%, 17%); }
                    .image_home, .image_tools{ transform: translate(-25%, 24%); }
                }
                .folder, .tools{
                    background: url('../images/benefits/green_fon.svg') no-repeat ;
                }
                .room, .home{
                    background: url('../images/benefits/orange_fon.svg') no-repeat ;
                }
            }
        }
    }

    .projects{
        @extend .benefits;
        // background: $c_milk;
        background: green;
        .wrap_projects{
            margin: 0 20px;
            @include Flex(row, space-between, center);
            padding: 45px 0;
            .project_txt{
                max-width: 30%;                
                // border: 1px solid red;
                #text{
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 23px;
                }
            }     
            .project_slider{
                @include Flex(row, space-between, center);
                width: 65%;                
                height: auto;
                border: 1px solid red;
                .arrow_left, .arrow_right{
                    width: 55px;
                    height: 55px;
                    background: $c_blueGray; 
                    cursor: pointer;                        

                    &:before{
                        display: inline-block;
                        content: '';
                        width: 50px;
                        height: 50px;     
                        transform: translate(5%, 5%);                   
                    }              
                }
                .arrow_left:before{
                    background: url('../images/arrows/arrow_left_long.svg') no-repeat center;
                }
                .arrow_right:before{
                    background: url('../images/arrows/arrow_right_long.svg') no-repeat center;
                }

                .slider{
                    @include Flex(row, space-around, center);
                    width: 100%;
                    margin: 0 30px;

                    .project_card{
                        width: 350px;
                        // height: 150px;
                        padding: 20px 30px;
                        background: $c_white;
                    }
                }
            }
        
        }       
    }

     // .gallery{
    //     @extend .benefits;
    //     height: 500px;
    //     background: green;
    // }
}
















@media screen and (min-width: 1020px){
    // .heading{
    //     font-size: 2vw;
    // }

    // .bl_image img{
    //     height: 100%;
    // }
}

@media screen and (max-width: 1459px) and (min-width: 320px){
    .head_home{
        font-size: 2vw;
    }

    // .bl_image img{
    //     height: 220px;
    // }
}

@media screen and (max-width: 3000px) and (min-width: 1460px){

    .head_home, .txt_number{
        font-size: 36px;
    }
}