@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.layout_wrap {
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1360px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.none {
  display: none !important;
}

.main_txt {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content .main_info {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1920px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/main_img.jpg") no-repeat center;
  background-size: cover;
}
.content .main_info .bl_text {
  width: 100%;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content .main_info .bl_text .wrap_text {
  margin: 0 30px;
  height: 100%;
  background: url("../images/wrap.svg") no-repeat center;
  background-size: contain;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.content .main_info .bl_text .wrap_text .telefon_call {
  display: block;
  height: 45px;
  cursor: pointer;
}
.content .benefits, .content .gallery, .content .projects {
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1360px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}
.content .benefits .wrap_benefits, .content .gallery .wrap_benefits, .content .gallery .wrap_gallery, .content .projects .wrap_benefits {
  margin: 0 20px;
}
.content .benefits .wrap_benefits .benefits_items, .content .gallery .wrap_benefits .benefits_items, .content .gallery .wrap_gallery .benefits_items, .content .projects .wrap_benefits .benefits_items {
  width: 100%;
  display: grid;
  border: 1px solid red;
}
.content .benefits .wrap_benefits .benefits_items .item, .content .gallery .wrap_benefits .benefits_items .item, .content .gallery .wrap_gallery .benefits_items .item, .content .projects .wrap_benefits .benefits_items .item {
  width: 100%;
  height: 300px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  text-align: right;
}
.content .benefits .wrap_benefits .benefits_items .item p, .content .gallery .wrap_benefits .benefits_items .item p, .content .gallery .wrap_gallery .benefits_items .item p, .content .projects .wrap_benefits .benefits_items .item p {
  padding: 40px 15px 0 0;
}
.content .benefits .wrap_benefits .benefits_items .item .image_folder, .content .gallery .wrap_benefits .benefits_items .item .image_folder, .content .gallery .wrap_gallery .benefits_items .item .image_folder, .content .projects .wrap_benefits .benefits_items .item .image_folder, .content .benefits .wrap_benefits .benefits_items .item .image_room, .content .gallery .wrap_benefits .benefits_items .item .image_room, .content .gallery .wrap_gallery .benefits_items .item .image_room, .content .projects .wrap_benefits .benefits_items .item .image_room {
  display: block;
  width: 15rem;
  height: 15rem;
}
.content .benefits .wrap_benefits .benefits_items .item .image_home, .content .gallery .wrap_benefits .benefits_items .item .image_home, .content .gallery .wrap_gallery .benefits_items .item .image_home, .content .projects .wrap_benefits .benefits_items .item .image_home, .content .benefits .wrap_benefits .benefits_items .item .image_tools, .content .gallery .wrap_benefits .benefits_items .item .image_tools, .content .gallery .wrap_gallery .benefits_items .item .image_tools, .content .projects .wrap_benefits .benefits_items .item .image_tools {
  display: block;
  width: 6rem;
  height: 6rem;
}
.content .benefits .wrap_benefits .benefits_items .item .image_folder, .content .gallery .wrap_benefits .benefits_items .item .image_folder, .content .gallery .wrap_gallery .benefits_items .item .image_folder, .content .projects .wrap_benefits .benefits_items .item .image_folder {
  -webkit-transform: translate(0%, 13%);
          transform: translate(0%, 13%);
  background: url("../images/benefits/folders.svg") no-repeat center;
  background-size: contain;
}
.content .benefits .wrap_benefits .benefits_items .item .image_room, .content .gallery .wrap_benefits .benefits_items .item .image_room, .content .gallery .wrap_gallery .benefits_items .item .image_room, .content .projects .wrap_benefits .benefits_items .item .image_room {
  -webkit-transform: translate(-25%, 17%);
          transform: translate(-25%, 17%);
  background: url("../images/benefits/room.svg") no-repeat center;
  background-size: contain;
}
.content .benefits .wrap_benefits .benefits_items .item .image_tools, .content .gallery .wrap_benefits .benefits_items .item .image_tools, .content .gallery .wrap_gallery .benefits_items .item .image_tools, .content .projects .wrap_benefits .benefits_items .item .image_tools {
  -webkit-transform: translate(-27%, 25%);
          transform: translate(-27%, 25%);
  background: url("../images/benefits/tools.svg") no-repeat center;
  background-size: contain;
}
.content .benefits .wrap_benefits .benefits_items .item .image_home, .content .gallery .wrap_benefits .benefits_items .item .image_home, .content .gallery .wrap_gallery .benefits_items .item .image_home, .content .projects .wrap_benefits .benefits_items .item .image_home {
  -webkit-transform: translate(-27%, 28%);
          transform: translate(-27%, 28%);
  background: url("../images/benefits/home.svg") no-repeat center;
  background-size: contain;
}
.content .benefits .wrap_benefits .benefits_items .folder, .content .gallery .wrap_benefits .benefits_items .folder, .content .gallery .wrap_gallery .benefits_items .folder, .content .projects .wrap_benefits .benefits_items .folder, .content .benefits .wrap_benefits .benefits_items .tools, .content .gallery .wrap_benefits .benefits_items .tools, .content .gallery .wrap_gallery .benefits_items .tools, .content .projects .wrap_benefits .benefits_items .tools {
  background: url("../images/benefits/green_fon.svg") no-repeat center;
  background-size: cover;
}
.content .benefits .wrap_benefits .benefits_items .room, .content .gallery .wrap_benefits .benefits_items .room, .content .gallery .wrap_gallery .benefits_items .room, .content .projects .wrap_benefits .benefits_items .room, .content .benefits .wrap_benefits .benefits_items .home, .content .gallery .wrap_benefits .benefits_items .home, .content .gallery .wrap_gallery .benefits_items .home, .content .projects .wrap_benefits .benefits_items .home {
  background: url("../images/benefits/orange_fon.svg") no-repeat center;
  background-size: cover;
}
.content .projects {
  background: green;
}
.content .projects .wrap_projects {
  margin: 0 20px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}
.content .projects .wrap_projects .project_txt {
  max-width: 30%;
}
.content .projects .wrap_projects .project_txt #text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}
.content .projects .wrap_projects .project_slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  height: auto;
  border: 1px solid red;
}
.content .projects .wrap_projects .project_slider .arrow_left, .content .projects .wrap_projects .project_slider .arrow_right {
  width: 55px;
  height: 55px;
  background: #D0D3D7;
  cursor: pointer;
}
.content .projects .wrap_projects .project_slider .arrow_left:before, .content .projects .wrap_projects .project_slider .arrow_right:before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  -webkit-transform: translate(5%, 5%);
          transform: translate(5%, 5%);
}
.content .projects .wrap_projects .project_slider .arrow_left:before {
  background: url("../images/arrows/arrow_left_long.svg") no-repeat center;
}
.content .projects .wrap_projects .project_slider .arrow_right:before {
  background: url("../images/arrows/arrow_right_long.svg") no-repeat center;
}
.content .projects .wrap_projects .project_slider .slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 30px;
}
.content .projects .wrap_projects .project_slider .slider .project_card {
  width: 350px;
  padding: 20px 30px;
  background: #FFF;
}
.content .gallery .wrap_gallery .gallery_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: "item_1 item_2 item_2" "item_3 item_3 item_4";
}
.content .gallery .wrap_gallery .gallery_items .item_photo {
  height: 27.5rem;
  cursor: pointer;
}
.content .gallery .wrap_gallery .gallery_items .item_1 {
  grid-area: item_1;
}
.content .gallery .wrap_gallery .gallery_items .item_2 {
  grid-area: item_2;
}
.content .gallery .wrap_gallery .gallery_items .item_3 {
  grid-area: item_3;
}
.content .gallery .wrap_gallery .gallery_items .item_4 {
  grid-area: item_4;
}
.content .gallery .wrap_gallery .gallery_items .item_1, .content .gallery .wrap_gallery .gallery_items .item_4 {
  background: url("../images/gallery/home_1.jpg") no-repeat center;
  background-size: cover;
}
.content .gallery .wrap_gallery .gallery_items .item_2, .content .gallery .wrap_gallery .gallery_items .item_3 {
  background: url("../images/gallery/home_2.jpg") no-repeat center;
  background-size: cover;
}
.content .gallery .wrap_gallery .gallery_items .img_hover {
  display: none;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(-33.76%, rgba(0, 231, 124, 0.6)), color-stop(104.7%, rgba(0, 154, 200, 0.6)));
  background: linear-gradient(270deg, rgba(0, 231, 124, 0.6) -33.76%, rgba(0, 154, 200, 0.6) 104.7%);
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
}
.content .gallery .wrap_gallery .gallery_items .img_hover p {
  width: 200px;
}

@media screen and (min-width: 1120px) {
  .benefits_items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 90px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 1120px) {
  .benefits_items {
    grid-template-columns: repeat(4, minmax(10%, auto));
    grid-gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits_items .item {
    border: 1px solid blue;
  }
}
@media screen and (min-width: 1020px) {
  .main_txt {
    font-size: 32px;
  }

  .main_info {
    height: 600px;
  }
  .main_info .telefon_call {
    width: 300px;
  }
}
@media screen and (max-width: 1019px) {
  .main_txt {
    font-size: 24px;
  }

  .main_info {
    height: 400px;
  }
  .main_info .telefon_call {
    width: 180px;
  }
}/*# sourceMappingURL=style.css.map */