@use '../additional_styles/color' as *;
@use '../additional_styles/object' as *;

.main_txt{
    font-weight: bold;
    text-transform: uppercase;  
    margin-bottom: 30px;
}
.content{
    .main_info{
        width: 100%;       
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, minmax(320px, 1920px));
        justify-content: center;
        background: url("../images/main_img.jpg") no-repeat center;
        background-size: cover;

        .bl_text{
            width: 100%;
            height: 45%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .wrap_text{
                margin: 0 30px;
                height: 100%;
                background: url('../images/wrap.svg') no-repeat center;
                background-size: contain;
                @include Flex(row, center, flex-end);

                .telefon_call{
                    display: block;
                    height: 45px;
                    cursor: pointer;
                }
            }
        }            
    }

    .benefits{
        display: grid;
        grid-template-columns: repeat(1, minmax(320px, 1360px));
        justify-content: center;
        margin-top: 60px;
        
        .wrap_benefits{ margin: 0 20px;
            .benefits_items{
                width: 100%;
                display: grid;
                // grid-template-columns: repeat(auto-fit, minmax(200px, 200px)); //1150px               
                // grid-gap: 90px;
                // justify-content: space-between;
                // align-items: center;

                border: 1px solid red;
                
                .item{
                    width: 100%;
                    height: 300px;                    
                    color: $c_white;
                    font-weight: bold;
                    text-transform: uppercase; 
                    font-size: 18px;
                    text-align: right;

                    p{ padding: 40px 15px 0 0; }
                    .image_folder, .image_room{                        
                        display: block;
                        // width: 240px;
                        // height: 240px;
                        width: 15rem;
                        height: 15rem;
                    }
                    .image_home, .image_tools{
                        display: block;
                        // width: 270px;
                        // height: 270px;
                        width: 6rem;
                        height: 6rem;
                    }
                    .image_folder{
                        transform: translate(0%, 13%);                        
                        background: url("../images/benefits/folders.svg") no-repeat center;
                        background-size: contain;
                    }
                    .image_room{
                        transform: translate(-25%, 17%); 
                        background: url("../images/benefits/room.svg") no-repeat center;
                        background-size: contain;
                    }
                    .image_tools{
                        transform: translate(-27%, 25%); 
                        background: url("../images/benefits/tools.svg") no-repeat center;
                        background-size: contain;
                    }
                    .image_home{
                        transform: translate(-27%, 28%); 
                        background: url("../images/benefits/home.svg") no-repeat center;
                        background-size: contain;
                    }
                    
                }
                .folder, .tools{
                    background: url('../images/benefits/green_fon.svg') no-repeat center;
                    background-size: cover;
                }
                .room, .home{
                    background: url('../images/benefits/orange_fon.svg') no-repeat center;
                    background-size: cover;
                }
            }
        }
    }

    .projects{
        @extend .benefits;
        // background: $c_milk;
        background: green;
        .wrap_projects{
            margin: 0 20px;
            @include Flex(row, space-between, center);
            padding: 45px 0;
            .project_txt{
                max-width: 30%;                
                // border: 1px solid red;
                #text{
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 23px;
                }
            }     
            .project_slider{
                @include Flex(row, space-between, center);
                width: 65%;                
                height: auto;
                border: 1px solid red;
                .arrow_left, .arrow_right{
                    width: 55px;
                    height: 55px;
                    background: $c_blueGray; 
                    cursor: pointer;                        

                    &:before{
                        display: inline-block;
                        content: '';
                        width: 50px;
                        height: 50px;     
                        transform: translate(5%, 5%);                   
                    }              
                }
                .arrow_left:before{
                    background: url('../images/arrows/arrow_left_long.svg') no-repeat center;
                }
                .arrow_right:before{
                    background: url('../images/arrows/arrow_right_long.svg') no-repeat center;
                }

                .slider{
                    @include Flex(row, space-around, center);
                    width: 100%;
                    margin: 0 30px;

                    .project_card{
                        width: 350px;
                        // height: 150px;
                        padding: 20px 30px;
                        background: $c_white;
                    }
                }
            }
        
        }       
    }

    .gallery{
        @extend .benefits;
        height: 500px;
        // background: green;

        .wrap_gallery{ @extend .wrap_benefits;
            .gallery_items{
                width: 100%;
                display: grid;
                grid-template-rows: repeat(2, 1fr); //1150px               
                grid-gap: 90px;
                // justify-content: center;
                // align-items: center;

                .item_1, .item_4{
                    width: 25rem;
                    height: 25rem; 
                    background: url("../images/gallery/home_1.jpg") no-repeat center;
                    background-size: contain;
                }
                
                .item_2, .item_3{                    
                    width: 50rem;
                    height: 25rem; 
                    background: url("../images/gallery/home_2.jpg") no-repeat center;
                    background-size: contain;                      
                }
                .img_hover{
                    width: 100%;
                    height: 100%;
                    background: $bl_lin_green;
                    @include Text($c_white, 400, uppercase);

                    p{
                        width: 200px;
                    }
                }
                
            }
        }
    }
}







//-------------------  @ MEDIA -------------------
@media screen and (min-width: 1120px){

    .benefits_items{
        grid-template-columns: repeat(auto-fit, minmax(200px, 200px)); 
        grid-gap: 90px;
        justify-content: space-between;
        align-items: center;
        .item{
            // width: 200px;
            // height: 300px;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1120px){

    .benefits_items{
        // grid-template-columns: repeat(2, minmax(300px, 300px)); 
        grid-template-columns: repeat(4, minmax(10%, auto));
        grid-gap: 30px;
        justify-content: space-between;
        align-items: center;
        .item{
            // width: 300px;
            // height: 400px;
            border: 1px solid blue;
        }
        
    }
}

@media screen and (min-width: 1020px){
    .main_txt{
        font-size: 32px;
    }
    .main_info{
        height: 600px;        
        .telefon_call{
            width: 300px;
        }
    }     
}


@media screen and (max-width: 1019px){
    .main_txt{
        font-size: 24px;
    }
    .main_info{
        height: 400px;        
        .telefon_call{
            width: 180px;
        }
    }   
   
}
