@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.popUpWindow {
    position: absolute;
    top: -1000px;
    left: -1000px;
    display: grid;
}

.popUpWindow.hidden {
    display: none;
}

.popUpWindow,
.house-card-info {
    z-index: 15;
    font-family: "Montserrat";
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    width: 245px;
    height: 360px;
    display: grid;
    grid-template-rows: 90px 1fr 145px;
    justify-items: center;
    align-items: center;
    .popUp-header {
        border-bottom: 1px solid white;
        padding-bottom: 12px;
        width: 83%;
        margin: 0 auto;
        margin-top: 25px;
        h2,
        h3 {
            text-transform: uppercase;
            color: black;
            width: 100%;
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 15px;
        }
    }
    .popUp-body {
        padding-top: 10px;
        padding-bottom: 17px;
        width: 83%;
        ul {
            margin-left: 0;
            padding-left: 0;
            list-style: none;
            li {
                margin-top: 7px;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                b {
                    color: #FF3B4C;
                    font-size: 16px;
                    display: block;
                    font-family: "Montserrat";
                }
            }
        }
    }
    .popUp-footer {
        border-top: 1px solid white;
        width: 100%;
        button {
            display: block;
            margin: 0 auto;
            &:last-child {
                margin: 23px auto 0 auto;
                @include MainButton($linSp_orange, $sSp_orange);
            }
            &:first-child {
                margin-top: 15px;
                @include MainButton($linSp_green, $sSp_green);
                text-align: center;
            }
        }
    }
}

.house-info.hiden {
    top: 2000px;
}

.house-info {
    transition: 0.5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 100%;
    padding: 0 10% 0 10%;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    .close-info-container {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        align-items: flex-end;
        justify-content: end;
        .close-btn {
            transition: 0.3s;
            width: 80px;
            margin: auto 0 auto auto;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
            img {
                width: 18px;
                height: 18px;
                margin: 0 auto;
                display: block;
            }
            span {
                margin-top: 9px;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                text-transform: uppercase;
                display: block;
                color: #FFFFFF;
            }
        }
    }
    .house-card-info {
        margin: 0 auto;
        width: 95%;
        height: 80%;
        grid-template-rows: 125px 1fr 100px;
        padding-top: 0 !important;
        .popUp-header {
            h2 {
                font-size: 1.8vw;
            }
            h3 {
                font-size: 1vw;
            }
        }
        .popUp-body {
            // padding-bottom: 30px;
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                li:nth-child(3) {
                    text-transform: uppercase;
                }
                li {
                    font-size: 1vw;
                    margin-top: 34px;
                    b {
                        font-size: 1.1vw;
                    }
                }
            }
        }
        .popUp-footer {
            padding-top: 15px;
            button {
                margin: 0 auto;
                @include MainButton($linSp_orange, $sSp_orange);
            }
        }
    }
    .house-recipe {
        margin: 0 auto;
        width: 95%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        background: rgba(255, 255, 255, 0.5);
        img {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }
    }
    .house-layout {
        margin: 0 auto;
        height: 80%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
            width: 100%;
            height: 300px;
            &:last-child {
                margin-top: 5px;
            }
        }
    }
}

main.test_container {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 900px;
    position: relative;
    .back {
        background: url('../images/map_promo.jpg') no-repeat;
        background-size: 100%, 100%;
        position: relative;
        width: 1920px;
        height: 100%;
        .pointer_block {
            width: 100px;
            height: 100px;
            background: red;
            position: absolute;
            opacity: 0.6;
            transition: 0.3s;
            &:hover {
                cursor: pointer;
                background: orange;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .house-info {
        .house-card-info {
            grid-template-rows: 150px 1fr 150px;
            .popUp-footer {
                padding-top: 30px;
            }
            .popUp-body {
                padding-top: 0;
            }
        }
        // align-items: center;
        grid-template-rows: 200px 600px;
        .close-info-container {
            .close-btn {
                margin: auto 0 15px 0;
            }
        }
        .house-layout {
            img {
                width: 100%;
                height: 225px;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .house-info {
        .house-recipe {
            height: 95%;
        }
        .house-card-info {
            height: 95%;
        }
        grid-template-rows: 150px 460px;
        .close-info-container {
            .close-btn {
                margin: auto 0 15px 0;
            }
        }
        .house-layout {
            height: 95%;
            img {
                &:last-child {
                    margin-top: 8px;
                }
                height: 215px;
            }
        }
    }
    .house-card-info {
        .popUp-header {
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 18px;
            }
        }
        .popUp-body {
            ul {
                li {
                    font-size: 14px;
                    b {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .house-info {
        grid-template-rows: 100px 1fr 340px;
        grid-template-columns: 1fr 1fr;
        .close-info-container {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .house-layout {
            width: 97%;
            flex-direction: row;
            grid-column-start: 1;
            grid-column-end: 3;
            img {
                height: 250px;
                width: 48.6%;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .house-recipe {
            height: 95%;
        }
        .house-card-info {
            height: 95%;
            .popUp-header {
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 18px;
                }
            }
            .popUp-body {
                ul {
                    li {
                        font-size: 12px;
                        b {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}