@use '../../additional_styles/color' as *;
@use '../../additional_styles/object' as *;

//* ================= icons ================= *//
span{ display: block; }
.icon_link{
    width: 26px;
    height: 26px;
    margin-right: 5px;          
}

//* ============= main code ============= *//
.main_wrap img{ height: 80%;}
.main_wrap .social_media{
    background: $c_white;
    .menu{       
        .wrap_info{
            @include Flex(row, flex-start, normal);
            margin-bottom: 10px;                    
            .name, .info{ font-size: 14px; }
            .name{
                font-weight: bold;
                font-family: "Montserrat", sans-serif;
                padding-bottom: 5px;
            }
            .info{  font-family: "Roboto", sans-serif; }
        }

        #address{
            background: url('../../images/icons/address_icon.svg') no-repeat center;
        }
        #telefon{
            background: url('../../images/icons/phone_icon.svg') no-repeat center;
        }
        #email{
            background: url('../../images/icons/email_icon.svg') no-repeat center;
        }
    }
    .btn_home input{
        padding: 12px 30px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50px;
        border: none;
        background: $linSp_orange;
        color: $c_white;
        box-shadow: $shadow_btn;
        cursor: pointer;

        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 13px;
        letter-spacing: 0.5px;
    }
}

//* ============ MEDIA min-width: 1020px ============ *//
@media screen and (min-width: 1020px){
    .content{ margin-top: 100px;}
    .main_wrap{      
        @include Flex(row, space-between, center);
        margin: 0 20px;
        height: 100px;   

        .social_media{
            @include Flex(row, space-between, center);
            width: 88%;       
            z-index: 99;

            .menu{  
                width: 55%;     
                @include Flex(row, space-between, normal);
            }
        }    
    }        
    .toggle_wrap, .media_info{ display: none;}
}


//* ============ MEDIA min-width: 1019px ============ *//
@media screen and (max-width: 1019px){
    
}