@use '../../additional_styles/color' as *;
@use '../../additional_styles/object' as *;

//* ================= icons ================= *//
span{ display: block; }
.icon_link{
    width: 26px;
    height: 26px;
    margin-right: 5px;          
}

//* ============= main code ============= *//
.layout_footer{ background: $c_milk; }
.footer_wrap img{ height: 60%;}
.footer_wrap .wrap_media{
    .social_media{       
        .info_item{
            @include Flex(row, flex-start, normal);
            margin-bottom: 10px;                    
            .name_item, .info{ font-size: 14px; }
            .name_item{
                font-weight: bold;
                font-family: "Montserrat", sans-serif;
                padding-bottom: 5px;
            }
            .info{  font-family: "Roboto", sans-serif; }
        }

        #address_link{
            background: url('../../images/icons/address_icon.svg') no-repeat center;
        }
        #telefon_link{
            background: url('../../images/icons/phone_icon.svg') no-repeat center;
        }
        #email_link{
            background: url('../../images/icons/email_icon.svg') no-repeat center;
        }
    }
    .btn_call input{
        padding: 12px 30px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50px;
        border: none;
        background: $linSp_orange;
        color: $c_white;
        box-shadow: $shadow_btn;
        cursor: pointer;

        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 13px;
        letter-spacing: 0.5px;
    }
}

//* ============ MEDIA min-width: 1020px ============ *//
@media screen and (min-width: 1020px){
    .footer_wrap{      
        @include Flex(row, space-between, center);
        margin: 0 20px;
        height: 150px;   
        .wrap_media{
            @include Flex(row, space-between, center);
            width: 88%;       
            z-index: 99;

            .social_media{  
                width: 79%;     
                @include Flex(row, space-between, normal);
            }
        }    
    }        
    .toggle_wrap, .media_info{ display: none;}
}


//* ============ MEDIA min-width: 1019px ============ *//
@media screen and (max-width: 1019px){
    .layout_footer{ display: none !important;}
}