@use '../../additional_styles/color' as *;
@use '../../additional_styles/object' as *;

//* ============= main code ============= *//
.layout_menu{ 
    position: fixed;
    box-shadow: $shadow_menu;
    background: $c_white;   
    width: 100%;
}
.html_div{
    width: 100%;
    height: 1000rem;
    background: $c_milk;
    padding-top: 100px
}
.main_wrap .sidebar{
    @include Flex(row, normal, normal);
    .menu{       
        width: 45%;
        // @include Flex(row, space-between, normal);
        a{
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            @include Text($cT_black, 300, uppercase);
            @include Flex(row, center, center);
            position: relative;

            //* ================= icons ================= *//
            span{ 
                display: block;
                margin-right: 10px;                
            }
            .icon_link{
                width: 26px;
                height: 26px;
            }
            .underline{
                width: 40px;
                height: 5px;
                position: absolute;
                top: 30px; left: 50%;
                background: $lin_orange;
            }
            #advantages{
                background: url('../../images/icons/libra_icon.svg') no-repeat center;
            }
            #projects{
                background: url('../../images/icons/project_icon.svg') no-repeat center;
            }
            #townhouse{
                background: url('../../images/icons//townhouse_icon.svg') no-repeat center;
            }
            #gallery{
                background: url('../../images/icons/photo_icon.svg') no-repeat center;
            }

        }
    }
}
@media screen and (min-width: 1060px){

    .main_wrap{      
        @include Flex(row, space-between, center);
        margin: 0 20px;
        height: 100px;   
        
        .logo{ width: 100%; }
        .sidebar{
            .menu{       
                @include Flex(row, space-between, normal);
            }
            .big_text{ cursor: pointer;
                p{
                    font-family: 'Montserrat', sans-serif;
                    line-height: 24px;
                    font-size: 20px;
                    background: $lin_orange;
                    background-clip: text;
                    font-weight: 700;
                    text-transform: uppercase;
                    -webkit-text-fill-color: transparent;
                    span{
                        font-style: normal;
                        font-size: 24px;
                    }
                }
            }
            .btn_home input{
                padding: 12px 30px;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 50px;
                border: none;
                background: $linSp_orange;
                color: $c_white;
                box-shadow: $shadow_btn;
                cursor: pointer;
    
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                font-size: 13px;
                letter-spacing: 0.5px;
            }
        }
    
    }
        
    .toggle_btn{ display: none;}
}



@media screen and (max-width: 1059px){
    .main_wrap{      
        @include Flex(row, space-between, center);
        margin: 0 20px;
        height: 100px;   
        
        .logo{ width: 80%; }     
            .menu{       
                // height: 50%;
                @include Flex(row, space-between, normal);
            }  
        }
        .big_text{ cursor: pointer;
            p{
                font-family: 'Montserrat', sans-serif;
                line-height: 24px;
                font-size: 20px;
                background: $lin_orange;
                background-clip: text;
                font-weight: 700;
                text-transform: uppercase;
                -webkit-text-fill-color: transparent;
                span{
                    font-style: normal;
                    font-size: 24px;
                }
            }
        }
        .btn_home input{
            padding: 12px 30px;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 50px;
            border: none;
            background: $linSp_orange;
            color: $c_white;
            box-shadow: $shadow_btn;
            cursor: pointer;

            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-size: 13px;
            letter-spacing: 0.5px;
        }
}
