@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
}

.layout_wrap {
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1360px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.none {
  display: none !important;
}

.none_scroll {
  overflow: hidden;
}

input {
  outline: none;
}

/* ----------------------- button about sold apartment ---------------------- */
.sold_btn {
  background: #BDBDBD;
  -webkit-box-shadow: #FFF;
          box-shadow: #FFF;
  padding: 12px 30px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  color: #FFF;
  cursor: pointer;
  outline: none;
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 0.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  text-decoration: none;
}
.sold_btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-position: right center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zoom {
  display: none;
}

body.zoom-opened {
  overflow: hidden;
}

@media (max-width: 768px) {
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-top: 100px !important;
  }
  .wrap .title {
    font-size: 32px;
    text-transform: uppercase;
  }
  .wrap .summary,
.wrap .blueprint,
.wrap .photo {
    padding: 0px 20px;
  }
  .wrap .summary > .title,
.wrap .blueprint > .title,
.wrap .photo > .title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
  }
  .wrap .sub-title {
    font-size: 16px;
    text-transform: uppercase;
  }
  .wrap .summary {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrap .summary .table {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap .summary .left,
.wrap .summary .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .wrap .summary .summary-name {
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 300;
  }
  .wrap .summary .summary-value {
    color: #FF3B4C;
  }
  .wrap .summary .readiness > .summary-value,
.wrap .summary .price > .summary-value {
    text-transform: uppercase;
  }
  .wrap .summary .buy_btn {
    background: -webkit-gradient(linear, left top, right top, from(#FF184F), color-stop(50%, #FFCA41), to(#FF184F));
    background: linear-gradient(to right, #FF184F 0%, #FFCA41 50%, #FF184F 100%);
    -webkit-box-shadow: 0px 7px 25px rgba(255, 114, 144, 0.76);
            box-shadow: 0px 7px 25px rgba(255, 114, 144, 0.76);
    padding: 12px 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    color: #FFF;
    cursor: pointer;
    outline: none;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: 200% auto;
    text-decoration: none;
    text-decoration: none;
    margin: 30px auto 0 auto;
  }
  .wrap .summary .buy_btn:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-position: right center;
  }
  .wrap .blueprint {
    margin-top: 60px;
    background-color: #F7F4F9;
    width: 100%;
    padding-bottom: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap .blueprint .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 32px;
  }
  .wrap .blueprint .house-blueprint {
    -webkit-box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.25);
            box-shadow: 6px 8px 20px rgba(0, 0, 0, 0.25);
    position: relative;
  }
  .wrap .blueprint .house-blueprint:hover .zoom-icon {
    opacity: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .wrap .blueprint .house-blueprint .zoom-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .wrap .blueprint .house-blueprint .zoom-icon span {
    font-size: 56px;
  }
  .wrap .photo {
    width: 100%;
    margin: 40px 0px;
  }
  .wrap .photo .title {
    text-align: left;
  }
  .wrap .photo .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 13px;
    height: 365px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .wrap .photo .gallery img {
    width: 278px;
    height: 186px;
  }
  .wrap .photo .more {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-size: 14px;
    text-decoration: underline;
    opacity: 0.5;
    text-align: center;
    margin-top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .wrap .photo .more:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
  }
  .zoom {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .zoom.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .zoom .zoom-content {
    color: white;
    font-family: "Roboto Condensed";
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0px 20px;
  }
  .zoom .zoom-content img {
    height: auto;
    width: 100%;
    max-width: 520px;
    background-color: white;
  }
}/*# sourceMappingURL=style.css.map */