@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$bg_body: #E5E5E5;
$color_title: #000;
$color_text: #fff;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $bg_body;
}

.wrap {
    width: 100%;
    height: 100%; 
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 1300px));
    align-items: center;
    justify-content: center;

    article {  padding: 2rem;
        .title, .text { text-transform: uppercase; }
        .title {
            color: $color_title;
            font-weight: 700;
            font-size: 2.25rem;
            letter-spacing: .13rem;
        }

        .benefits {
            width: 100%;
            height: fit-content;
            margin-top: 2rem;
            display: grid;
            grid-row-gap: 8vw;
            grid-column-gap: 8vw;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            justify-content: space-between;

            .item {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &.fon {
                    position: relative;
                    z-index: 1;
                    &.green { background: linear-gradient(to top, rgba(0, 231, 124, 0.6) -33.76%, rgba(0, 154, 200, 0.6) 104.7%);  }
                    &.orange { background: linear-gradient(to top, rgb(255, 24, 79) -6.46%, rgb(255, 202, 65) 100.97%); }

                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;                        
                        position: absolute;
                        top: 0; left: 0; z-index: -1;                        
                        mix-blend-mode: multiply;
                        background: url('../media/fons/cub.svg') no-repeat;
                        background-size: 100% 100%;
                        background-position: left bottom;
                    }
                }
                .text {
                    width: 100%;
                    margin: 2rem 0;
                    color: $color_text;
                    font-weight: 500;
                    font-size: 1.3rem;
                    text-align: right;
                    text-transform: uppercase;
                    line-height: 1.8rem;
                }

                .icon {
                    height: 10rem;
                    width: 100%;                    
                    position: relative;
                    bottom: -4rem; left: -4rem;
                    z-index: 10;

                    &#folder {
                        left: -1rem;
                        bottom: -3.5rem;
                        background: url('../media/icon/folder.svg') no-repeat;
                        background-size: contain;
                    }

                    &#room {
                        background: url('../media/icon/room.svg') no-repeat;
                        background-size: contain;
                    }

                    &#build {
                        background: url('../media/icon/build.svg') no-repeat;
                        background-size: contain;
                    }

                    &#house {
                        background: url('../media/icon/house.svg') no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1120px) {
    .wrap {
        article {
            .benefits {
                padding-bottom: 7vw;
                grid-row-gap: 0;
                grid-column-gap: 4rem;
                grid-auto-flow: column;
                grid-template-columns: repeat(4, 13rem);
                overflow-x: auto;
                overflow-y: hidden;
                scrollbar-width: none;
                &::-webkit-scrollbar { width: 0; height: 0; }

                .item .icon { height: 9.5rem; }
            }
        }
    }
}

@media screen and (max-width:560px) {
    .wrap {
        article {
            padding: 1rem;
            .title {
                font-size: 2rem;
                text-align: center;
            }
            .benefits {
                padding: 0 2vw 12vw 2vw;
                margin-top: 1rem;
                grid-row-gap: 7vw;
                grid-column-gap: 7vw;
                grid-template-columns: repeat(auto-fit, 45%);
                grid-template-areas: "folder house" "room build";
                grid-auto-flow: row;
                align-items: center;
                justify-content: space-evenly;

                .item {
                    &:nth-child(1) { grid-area: folder; }
                    &:nth-child(2) { grid-area: room; }
                    &:nth-child(3) { grid-area: build; }
                    &:nth-child(4) { grid-area: house; }

                    .text { 
                        margin: 1rem 0;
                        font-size: 3.5vw;
                        line-height: 1.5rem;
                    }

                    .icon {
                        height: 30vw;
                        bottom: -14vw; left: -6vw;

                        &#folder { bottom: -12vw; left: -4vw; }

                        &#build, &#house { 
                            width: 150%;
                            bottom: -14vw; left: -7vw;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
    .wrap {
        article {
            .benefits {
                padding: 0 0 15vw 0;
                grid-row-gap: 0;
                grid-column-gap: 13vw;
                grid-auto-flow: column;
                grid-template-columns: repeat(4, 11rem);
                grid-template-areas: "folder room build house";
                justify-content: flex-start;
                overflow-x: auto;
                scrollbar-width: none;
                &::-webkit-scrollbar { width: 0; height: 0; }

                .item {
                    .text {
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                    .icon {
                        height: 10rem;
                        bottom: -20vw; left: -10vw;

                        &#folder { bottom: -18vw; left: -5vw; }

                        &#build, &#house { 
                            width: 150%;
                            bottom: -21vw; left: -11vw;
                        }
                    }
                }
            }
        }
    }
}
