@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
}

.layout_wrap {
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1360px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.none {
  display: none !important;
}

.none_scroll {
  overflow: hidden;
}

input {
  outline: none;
}

/* -------------------------------------------------------------------------- */
/*                                    LINKS                                   */
/* -------------------------------------------------------------------------- */
#id_advantage, #id_project, #id_gallery {
  margin-top: 60px;
}

/* -------------------------------------------------------------------------- */
/*                                  MAIN CODE                                 */
/* -------------------------------------------------------------------------- */
.main_txt {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content .main_info {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1920px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../../images/main_img.jpg") no-repeat center;
  background-size: cover;
}
.content .main_info .bl_text {
  width: 100%;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content .main_info .bl_text .wrap_text {
  margin: 0 30px;
  height: 100%;
  background-size: contain;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.content .main_info .bl_text .wrap_text .telefon_call {
  display: block;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                  BENEFITS                                  */
/* -------------------------------------------------------------------------- */
.benefits {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1360px));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits article {
  margin-top: 1rem;
}
.benefits article main {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-column-gap: 3rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 14rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits article main .item {
  padding: 3rem 1rem 14rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits article main .item.fon {
  position: relative;
  z-index: 1;
}
.benefits article main .item.fon.green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-0.01%, #00C2C3), color-stop(77.31%, #8FFF8F));
  background: linear-gradient(180deg, #00C2C3 -0.01%, #8FFF8F 77.31%);
}
.benefits article main .item.fon.orange {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFCB46), color-stop(99.98%, #FE246E));
  background: linear-gradient(180deg, #FFCB46 0%, #FE246E 99.98%);
}
.benefits article main .item.fon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: multiply;
  background: url("../../images/cub.svg") no-repeat;
  background-size: 100% 105%;
  background-position: left bottom;
}
.benefits article main .item p {
  width: 100%;
  color: #FFF;
  font-weight: 550;
  font-size: 1.4rem;
  font-family: "Roboto";
  text-align: right;
  text-transform: uppercase;
  line-height: 1.8rem;
}
.benefits article main .item .icon {
  display: block;
  height: 14rem;
  width: 100%;
  position: absolute;
  bottom: -4rem;
  left: -4vw;
  z-index: 10;
}
.benefits article main .item .icon#icon_folder {
  left: -1rem;
  background: url("../../images/benefits/folders.svg") no-repeat bottom;
  background-size: contain;
}
.benefits article main .item .icon#icon_room {
  background: url("../../images/benefits/room.svg") no-repeat bottom;
  background-size: contain;
}
.benefits article main .item .icon#icon_build {
  background: url("../../images/benefits/tools.svg") no-repeat bottom;
  background-size: contain;
}
.benefits article main .item .icon#icon_house {
  background: url("../../images/benefits/home.svg") no-repeat bottom;
  background-size: contain;
}

/* -------------------------------------------------------------------------- */
/*                                   GALLERY                                  */
/* -------------------------------------------------------------------------- */
.gallery {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1360px));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}
.gallery .wrap_gallery {
  margin: 0 20px;
}
.gallery .wrap_gallery .gallery_items {
  display: grid;
}
.gallery .wrap_gallery .gallery_items .item_1 {
  grid-area: item_1;
  background: url("../../images/gallery/home_1.jpg") no-repeat center;
}
.gallery .wrap_gallery .gallery_items .item_2 {
  grid-area: item_2;
  background: url("../../images/gallery/home_2.jpg") no-repeat center;
}
.gallery .wrap_gallery .gallery_items .item_3 {
  grid-area: item_3;
  background: url("../../images/gallery/home_3.jpg") no-repeat center;
}
.gallery .wrap_gallery .gallery_items .item_4 {
  grid-area: item_4;
  background: url("../../images/gallery/home_4.jpg") no-repeat center;
}
.gallery .wrap_gallery .gallery_items .item_photo {
  cursor: pointer;
  background-size: cover;
}
.gallery .wrap_gallery .gallery_items .item_photo:hover .img_hover {
  opacity: 1;
}
.gallery .wrap_gallery .gallery_items .item_photo .img_hover {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(-33.76%, rgba(0, 231, 124, 0.6)), color-stop(104.7%, rgba(0, 154, 200, 0.6)));
  background: linear-gradient(270deg, rgba(0, 231, 124, 0.6) -33.76%, rgba(0, 154, 200, 0.6) 104.7%);
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
}
.gallery .wrap_gallery .gallery_items .item_photo .img_hover .img_border {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #FFF;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1020px) {
  .content .wrap_text {
    background: url("../../images/wrap.svg") no-repeat center;
  }
  .main_txt {
    font-size: 32px;
  }
  .main_info {
    height: 600px;
  }
  .main_info .telefon_call {
    width: 300px;
    height: 45px;
  }
  .main_info .telefon_call input {
    opacity: 0;
  }
  .gallery_items {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item_1 item_2 item_2" "item_3 item_3 item_4";
  }
  .gallery_items .item_photo {
    height: 25rem;
  }
  .gallery_items .item_photo .img_hover {
    font-size: 20px;
    padding: 20px;
  }
  .gallery_items .item_photo .img_hover .img_border {
    padding: 20px;
  }
  .gallery_items .item_photo .img_hover .img_border p {
    line-height: 30px;
    width: 18.125rem;
  }
  .gallery_items .item_photo .img_hover .img_border .img_special_txt {
    width: 450px;
  }
}
@media (max-width: 1019px) {
  .content .wrap_text {
    background: url("../../images/wrap_1.svg") no-repeat center;
  }
  .main_txt {
    font-size: 24px;
  }
  .main_info {
    height: 400px;
  }
  .main_info .telefon_call input {
    background: -webkit-gradient(linear, left top, right top, from(#FF184F), color-stop(50%, #FFCA41), to(#FF184F));
    background: linear-gradient(to right, #FF184F 0%, #FFCA41 50%, #FF184F 100%);
    -webkit-box-shadow: 0px 7px 25px rgba(255, 29, 78, 0.2);
            box-shadow: 0px 7px 25px rgba(255, 29, 78, 0.2);
    padding: 12px 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    color: #FFF;
    cursor: pointer;
    outline: none;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-size: 200% auto;
    padding: 10px 25px !important;
    font-size: 11.5px !important;
  }
  .main_info .telefon_call input:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-position: right center;
  }
}
@media (max-width: 1019px) and (min-width: 601px) {
  .gallery_items {
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "item_2 item_2 item_2 item_2" "item_1 item_1 item_4 item_4" "item_3 item_3 item_3 item_3";
  }
  .gallery_items .item_photo {
    height: 25rem;
  }
  .gallery_items .item_photo .img_hover {
    font-size: 18px;
    padding: 15px;
  }
  .gallery_items .item_photo .img_hover .img_border {
    padding: 20px;
  }
  .gallery_items .item_photo .img_hover .img_border p {
    line-height: 30px;
    width: 18.25rem;
  }
  .gallery_items .item_photo .img_hover .img_border .img_special_txt {
    width: 450px;
  }
}
@media (max-width: 600px) {
  .gallery_items {
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "item_2 item_2 item_2 item_2" "item_1 item_1 item_4 item_4" "item_3 item_3 item_3 item_3";
  }
  .gallery_items .item_photo {
    height: 12rem;
  }
  .gallery_items .item_photo .img_hover {
    font-size: 10px;
    padding: 10px;
  }
  .gallery_items .item_photo .img_hover .img_border {
    padding: 15px;
  }
  .gallery_items .item_photo .img_hover .img_border p {
    line-height: 15px;
    width: 12.25rem;
  }
  .gallery_items .item_photo .img_hover .img_border .img_special_txt {
    width: 300px;
  }
}
@media (max-width: 370px) {
  .telefon_call input {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/* -------------------------------------------------------------------------- */
/*                               BENEFITS MEDIA                               */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 1120px) {
  .benefits article main {
    padding-bottom: 4rem;
    grid-column-gap: 3.5rem !important;
    grid-template-columns: repeat(4, 14rem) !important;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
  }
  .benefits article main::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
@media screen and (max-width: 560px) {
  .benefits {
    padding: 0 1rem !important;
  }
  .benefits article main {
    padding: 0 1rem 2.5rem 1rem !important;
    grid-row-gap: 10vw !important;
    grid-column-gap: 10vw !important;
    grid-template-columns: repeat(auto-fit, 36vw) !important;
    grid-template-areas: "folder house" "room build";
    grid-auto-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  .benefits article main .item {
    padding: 10vw 3vw 30vw 3vw !important;
  }
  .benefits article main .item:nth-child(1) {
    grid-area: folder;
  }
  .benefits article main .item:nth-child(2) {
    grid-area: room;
  }
  .benefits article main .item:nth-child(3) {
    grid-area: build;
  }
  .benefits article main .item:nth-child(4) {
    grid-area: house;
  }
  .benefits article main .item p {
    font-size: 3.5vw !important;
    line-height: 1.5rem !important;
  }
  .benefits article main .item .icon {
    height: 30vw !important;
    left: -8vw !important;
    bottom: -10vw !important;
  }
  .benefits article main .item .icon#icon_folder {
    left: -5vw !important;
  }
}
@media screen and (max-width: 320px) {
  .benefits {
    padding: 0 1rem !important;
  }
  .benefits article main {
    padding: 0 !important;
    padding-bottom: 3rem !important;
    grid-column-gap: 3.5rem !important;
    grid-template-columns: repeat(4, 11rem) !important;
    grid-template-areas: "folder room build house";
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
  }
  .benefits article main::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .benefits article main .item {
    padding: 3rem 1rem 10rem 1rem !important;
  }
  .benefits article main .item p {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
  .benefits article main .item .icon {
    height: 10rem !important;
    left: -3rem !important;
    bottom: -3rem !important;
  }
  .benefits article main .item .icon#icon_folder {
    left: -1.2rem !important;
  }
}/*# sourceMappingURL=style.css.map */