@use '../../additional_styles/_color' as *;
@use '../../additional_styles/_object' as *;


/* -------------------------------------------------------------------------- */
/*                                    LINKS                                   */
/* -------------------------------------------------------------------------- */
#id_advantage,#id_project, #id_gallery{
    margin-top: 60px;
    border: 1px solid red;
    // border-top: 80px solid $c_white;
}
/* -------------------------------------------------------------------------- */
/*                                  MAIN CODE                                 */
/* -------------------------------------------------------------------------- */
.main_txt{
    font-weight: bold;
    text-transform: uppercase;  
    margin-bottom: 30px
}

//*
.mobile_footer{
    border: 1px solid red;
}
//*

.content{
    .main_info{
        width: 100%;       
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, minmax(320px, 1920px));
        justify-content: center;
        background: url("../../images/main_img.jpg") no-repeat center;
        background-size: cover;

        .bl_text{
            width: 100%;
            height: 45%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .wrap_text{
                margin: 0 30px;
                height: 100%;
                background: url('../../images/wrap.svg') no-repeat center;
                background-size: contain;
                @include Flex(row, center, flex-end);

                .telefon_call{
                    display: block;                   
                    cursor: pointer;
                }
            }
        }            
    }
}   

    /* -------------------------------------------------------------------------- */
    /*                                  BENEFITS                                  */
    /* -------------------------------------------------------------------------- */

    .benefits {
        width: 100%;
        height: fit-content;
        padding: 0 2rem;
    
        display: grid;
        grid-template-columns: repeat(1, minmax(250px, 1360px));
        align-items: center;
        justify-content: center;
    
        article {
            margin-top: 1rem;
            
            main {
                width: 100%;
                height: fit-content;
                
                display: grid;
                grid-column-gap: 3rem;
                grid-auto-flow: column;
                grid-template-columns: repeat(auto-fit, 14rem);
                justify-content: space-between;
    
                .item {
                    padding: 3rem 1rem 14rem 1rem;
                    position: relative;
    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    &.fon {
                        position: relative;
                        z-index: 1;
                        
                        &.green { background: linear-gradient(180deg, #00C2C3 -0.01%, #8FFF8F 77.31%); }
                        &.orange { background: linear-gradient(180deg, #FFCB46 0%, #FE246E 99.98%); }
    
                        &::after {
                            content: "";
                            width: 100%;
                            height: 100%;                        
                            
                            position: absolute;
                            top: 0; left: 0; z-index: -1;                        
                            
                            mix-blend-mode: multiply;
                            background: url('../../images/cub.svg') no-repeat;
                            background-size: 100% 105%;
                            background-position: left bottom;
                        }
                    }
    
                    p {
                        width: 100%;                        
                        color: $c_white;                        
                        font-weight: 500;
                        font-size: 1.4rem;
                        font-family: 'Roboto';    
                        text-align: right;
                        text-transform: uppercase;
                        line-height: 1.8rem;
                    }
    
                    //! SVG ТЕНЬ ОБРЕЗАНА
                    .icon {
                        display: block;
                        height: 14rem;
                        width: 100%;
                        
                        position: absolute;
                        bottom: -4rem; left: -4vw;
                        z-index: 10;
    
                        &#icon_folder {
                            left: -1rem;
                            background: url('../../images/benefits/folders.svg') no-repeat bottom;
                            background-size: contain;
                        }
    
                        &#icon_room {
                            background: url('../../images/benefits/room.svg') no-repeat bottom;
                            background-size: contain;
                        }
    
                        &#icon_build {
                            background: url('../../images/benefits/tools.svg') no-repeat bottom;
                            background-size: contain;
                        }
    
                        &#icon_house {
                            background: url('../../images/benefits/home.svg') no-repeat bottom;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }

    /* -------------------------------------------------------------------------- */
    /*                                   GALLERY                                  */
    /* -------------------------------------------------------------------------- */

    .gallery{ @extend .benefits;
        padding-bottom: 60px;
        .wrap_gallery{ margin: 0 20px;
            .gallery_items{ display: grid;   
                .item_1{
                    grid-area: item_1;
                    background: url("../../images/gallery/home_1.jpg") no-repeat center;
                }
                .item_2{
                    grid-area: item_2;
                    background: url("../../images/gallery/home_2.jpg") no-repeat center;
                }
                .item_3{
                    grid-area: item_3;
                    background: url("../../images/gallery/home_3.jpg") no-repeat center;
                }
                .item_4{
                    grid-area: item_4;
                    background: url("../../images/gallery/home_4.jpg") no-repeat center;
                }
                .item_photo{
                    cursor: pointer;
                    background-size: cover;           
                    &:hover .img_hover{  opacity: 1; }    

                    .img_hover{
                        transition: opacity 0.3s ease-in;   
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        background: $bl_lin_green;  
                        @include Text($c_white, 400, uppercase);
    
                        .img_border{
                            width: 100%;
                            height: 100%;
                            display: block;
                            border: 1px solid $c_white;                        
                            @include Flex(row, center, center);                        
                        }
                    }
                }
            }
        }
    }




    //* ------------------------------------------------------ *//
    //* ------------------- @MEDIA QUERIES ------------------- *//
    //* ------------------------------------------------------ *//

@media (min-width: 1020px){
    .main_txt{font-size: 32px;}
    .main_info{ height: 600px;        
        .telefon_call{
            width: 300px;
            height: 45px;
            input{ opacity: 0;}
        }
    }    
    .gallery_items{
        gap: 20px;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-areas:"item_1 item_2 item_2"
                            "item_3 item_3 item_4"; 
        .item_photo{ height: 25rem;  
            .img_hover{ 
                font-size: 20px;
                padding: 20px;
                .img_border{ padding: 20px;
                    p{ 
                        line-height: 30px; 
                        width: 18.125rem;
                    }
                    .img_special_txt{ width: 450px; }
                }
            }          
        }       
    }    
}

@media (max-width: 1019px){
    .main_txt{font-size: 24px;}
    .main_info{ height: 400px;        
        .telefon_call input{ 
            @include MainButton($linSp_orange, $shadow_btn);
            padding: 10px 25px !important;
            font-size: 11.5px !important;
        }
    }   
    .gallery{ margin-bottom: 60px;}
}

@media (max-width: 1019px) and (min-width: 601px){
    .gallery_items{   
        gap: 15px;     
        grid-template-columns: repeat(4, 1fr); 
        grid-template-areas:"item_2 item_2 item_2 item_2"
                            "item_1 item_1 item_4 item_4"
                            "item_3 item_3 item_3 item_3";                              
        .item_photo{ height: 25rem;
            .img_hover{ 
                font-size: 18px;
                padding: 15px;
                .img_border{ padding: 20px;
                    p{ 
                        line-height: 30px; 
                        width: 18.25rem;
                    }
                    .img_special_txt{ width: 450px; }
                }
            }
        }        
    }
}

@media (max-width:  600px){
    .gallery_items{
        gap: 10px;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-areas:"item_2 item_2 item_2 item_2"
                            "item_1 item_1 item_4 item_4"
                            "item_3 item_3 item_3 item_3"; 
        .item_photo{ height: 12rem;
            .img_hover{ 
                font-size: 10px;
                padding: 10px;
                .img_border{ padding: 15px;
                    p{ 
                        line-height: 15px; 
                        width: 12.25rem;
                    }
                    .img_special_txt{ width: 300px;}
                }
            }
        }       
    }
}

@media (max-width: 370px){
    .telefon_call input{ 
        transform: translateY(-10px);
    }
}

/* -------------------------------------------------------------------------- */
/*                               BENEFITS MEDIA                               */
/* -------------------------------------------------------------------------- */

@media screen and (max-width:1120px) {
    .benefits {
        article {
            main {
                padding-bottom: 4rem;                
                grid-column-gap: 3.5rem !important;
                grid-template-columns: repeat(4, 14rem) !important;                
                overflow-x: scroll;
                overflow-y: hidden;
                scrollbar-width: none;
                &::-webkit-scrollbar { width: 0; height: 0; }
            }
        }
    }
}

@media screen and (max-width:560px) {
    .benefits { padding: 0 1rem !important;
        article {
            main {
                padding: 0 1rem 2.5rem 1rem !important;                
                grid-row-gap: 10vw !important;
                grid-column-gap: 10vw !important;
                grid-template-columns: repeat(auto-fit, 36vw) !important;
                grid-template-areas: "folder house" "room build";
                grid-auto-flow: row;
                align-items: center;
                justify-content: space-evenly !important;

                .item { padding: 10vw 3vw 30vw 3vw !important;
                    &:nth-child(1) { grid-area: folder; }
                    &:nth-child(2) { grid-area: room; }
                    &:nth-child(3) { grid-area: build; }
                    &:nth-child(4) { grid-area: house; }
                    p {
                        font-size: 3.5vw !important;
                        line-height: 1.5rem !important;
                    }
                    .icon {
                        height: 30vw !important;
                        left: -8vw !important;
                        bottom: -10vw !important;
                        &#icon_folder { left: -5vw !important; }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
    .benefits { padding: 0 1rem !important;
        article {
            main {
                padding: 0 !important;
                padding-bottom: 3rem !important;                
                grid-column-gap: 3.5rem !important;
                grid-template-columns: repeat(4, 11rem) !important;
                grid-template-areas: "folder room build house";
                justify-content: space-between !important;                
                overflow-x: scroll;
                overflow-y: hidden;
                scrollbar-width: none;
                &::-webkit-scrollbar { width: 0; height: 0; }
                .item { padding: 3rem 1rem 10rem 1rem !important;
                    p { 
                        font-size: 1rem !important;
                        line-height: 1.5rem !important;
                    }
                    .icon {
                        height: 10rem !important;                        
                        left: -3rem !important;
                        bottom: -3rem !important;
                        &#icon_folder { left: -1.2rem !important; }
                    }
                }
            }
        }
    }
}