@use 'color' as *;

//* ============= FONTS ============= *//
@font-face {
    font-family: "Roboto", sans-serif;
    src: local("/additional_styles/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: local("/additional_styles/fonts/Montserrat/static/Montserrat-Light.ttf");
}


//* ============================= *//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout_wrap{
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 1360px));
    justify-content: center;
}

//================== MIXINS ==================//
@mixin Button($bg_color, $br_color, $shadow) {
    background: $bg_color;
    border: 1px solid $br_color;
    box-shadow: $shadow;
}

@mixin Text($color, $bold, $uppercase) {
    color: $color;
    font-weight: $bold;
    text-transform: $uppercase;
}

@mixin Flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// @mixin familyText($font-family){
//     font-family: $font-family; 
// }
// .none_visible{
    // text-decoration: none;
// }
.none{
    display: none;
}