@use 'color' as *;
//* ============= FONT ============= *//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap');

//* ============================= *//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.layout_wrap{
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 1360px));
    justify-content: center;
}

//================== MIXINS ==================//
@mixin MainButton($bg_color, $shadow) {
    background: $bg_color;
    box-shadow: $shadow;
    padding: 12px 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    color: $c_white;
    cursor: pointer;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0.5px;

    transition: 0.5s; 
    // background-position: right center;    
    background-size: 100% auto; 

    &:hover{
        // box-shadow: none;   
        background-size: 0% auto;
        //    
    }

}

@mixin Text($color, $bold, $uppercase) {
    color: $color;
    font-weight: $bold;
    text-transform: $uppercase;
}

@mixin Flex($direction, $justify, $align) {
    display: flex !important;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
.none{
    display: none !important;
}